.Home-Container{
  margin: 0;
top: 0;
background-color: #F5F5F5;
height: auto;
width: 100vw;
display: flex;
flex-direction: row;
border: 2px soolid black;
}
.Dashboard-left{
  display: flex;
  flex-direction: row;
}

.right-side{
  display: flex;
  flex-wrap: wrap;
  width: 60%; /* or 50% if needed */
  background-color: #F5F5F5;
  height: 70vh;
  gap: 10px; /* consistent spacing */
  padding: 10px;
  box-sizing: border-box;

}



.H-left {
  display: flex;
  flex-wrap: wrap;
  width: 40%; /* or 50% if needed */
  background-color: #F5F5F5;
  height: 50vh;
  gap: 16px; /* consistent spacing */
  padding: 10px;
  box-sizing: border-box;
}


.search-top{

  width: 100%;

  border-bottom: 1px solid #ccc;

}

.Statictics-container,
.Trips-container {
  background-color: #fff;
  width: calc(50% - 10px); /* Half width minus gap margin */
  padding: 10px;
  height: 45%; /* Adjust height as needed */
  box-sizing: border-box;
}

.Map-container,
.Schedule-container {
  background-color: #fff;
  width: calc(100% - 10px); /* Half width minus gap margin */
  padding: 10px;
  height: 45%; /* Adjust height as needed */
  box-sizing: border-box;
}




.bottom-cont{
  display: flex;
  flex-direction: row;
}

.Trip-Cont{
  height: 50vh;
  width: 50vw;
  background-color:#fff ;
}