 .Dashboard-Container{
  margin: 0;
top: 0;
background-color: #F5F5F5;
height:auto;

display: flex;
flex-direction: column;
overflow-y: auto;



}

.Dashboard-left{
  display: flex;
  flex-direction: row;

}

.right-side{
  display: flex;
  flex-wrap: wrap;
  width: 70vw; 
  background-color: #F5F5F5;
  height: 90vh;

  padding: 2vh 0vw;
  box-sizing: border-box;
 
  

}

.D-heading{
  display: flex;
 flex-direction: column;
  width: 30%; 
  background-color: #F5F5F5;
height: auto;


  box-sizing: border-box;

}
.D-heading h2{
  margin: 2vh 0vw 1vh 1vw ;
}

.H-left {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  background-color: #F5F5F5;
  height: 55vh;
  gap: 16px; 
  padding: 1vh 1vw;
  box-sizing: border-box;

  
  
}


.search-top{

 

  border-bottom: 1px solid #ccc;

}



.Statictics-container,
.Trips-container {
  background-color: #fff;
  width: calc(50% - 10px); 

  height: 45%; 
  box-sizing: border-box;
  border-radius: 20px;
}

.Map-container,
.Schedule-container {
  background-color: #fff;
  width: calc(100% - 50px); 
 border-radius: 20px;
  height: 50%; 
  box-sizing: border-box;
  margin: 1vh 0vw ;
}




.bottom-cont{
  display: flex;
  flex-direction: row;
overflow-x: auto;
}




.D-MainContent{
  margin-left:2vw;

  height: auto;
  width: 100vw;

}

.Page-Components{
width: 100vw;

height: auto;
}


.Main-Container {

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;


}



.dashboard-wrapper {
  width: 2vw; /* collapsed width */
  transition: width 0.3s ease;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  border: 1px solid #A162F7;
}

.dashboard-wrapper:hover {
  width: 15vw; /* expanded width */
}

/* Add this if you want a hover-tab always visible */
.dashboard-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 60px;
  background: var(--primary-purple, #A162F7);
  cursor: pointer;
 
}

