.search-bar{
  height: 10vh;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  margin-left: 0.2vw;
  border-radius: 5px;


}

.right-cont{
  display: flex;
margin-left: auto;
  gap: 40px;
align-items: center;

  margin-right: 5%;
 
}


.left-bar{
  margin: 1.5vh;
}

.search-sec {
  display: flex;
  align-items: center;
  background: #f5f4f6;
  border-radius: 8px;
  padding: 2vh 1vw;
width: 20vw;
  gap: 10px;
}

.search-icon {
  flex-shrink: 0;
  fill: var(--gray-dark-4, #7C7C8D);
  width: 20px;
height: 19.997px;
cursor: pointer;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
}
