.edit-service-container {
  width: 76.7vw;
  height: 110vh;
  flex-shrink: 0;
  margin: 3vw 20vw;
  padding: 1vw;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit-form-header h2 {
  color: #000;
  font-family: "DM Sans";
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.edit-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.edit-form-buttons {
  display: flex;
  gap: 1vw;
}

.edit-cancel-btn,
.edit-save-btn {
  padding: 0.3vw 1.3vw;
  border: none;
  border-radius: 0.5vw;
  font-weight: 500;
  
  cursor: pointer;
}

.edit-cancel-btn {
  border: 1px solid #A162F7;
  color: #A162F7;
text-align: center;
font-family: Inter;
font-size: 1vw;
font-style: normal;
font-weight: 500;
line-height: 24px; 
background-color: white;
}

.edit-save-btn {
  background: #A162F7;
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 1vw;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}
.edit-dropdown-row {
 width: 18vw;
  display: flex;
  gap: 16px;
  margin-bottom: 1vw;
flex-shrink: 0;
}

.edit-dropdown-row select {
  flex: 1;
  padding: 0.8vw 0.8vw;
  border-radius:0.5vw;
border: 1px solid #CCC;
  background-color: #f9f9f9;
  color: #000;
font-family: Inter;
font-size: 0.8vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.vehicle-info {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.edit-form-section{
     padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
    .edit-formhead h3 {
  margin-top: 0.1vw;
  color: #000;
font-family: "DM Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.edit-form-group {
  display: flex;
  flex-direction: column;
}

.edit-form-group label {
color: #8D8D8D;
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
  margin-bottom: 4px;
  margin-top: 0.1vw;
}

.edit-form-group input::placeholder{
    color: #DADADA;
  
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px;

}
.edit-form-group select{
    width: 13vw;
   padding: 0.3vw;
border: 1px solid #CCC;
color: #000;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 8px;
background: #F6F6F6;

}
.edit-form-group input{
     padding: 0.3vw;
  color: #8D8D8D;
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
border: none;
line-height: 24px;
}
.edit-form-group input,
.edit-form-group select {
   /* padding: 10px 12px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  font-size: 14px;
  

  
}

input[readonly] {
 color: #000;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
border: none;
}
.border{
     padding: 3px;
  color: #DADADA;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
   border-radius: 8px;
background: #F6F6F6;
border: none; 
}

