
 .login-container {
 
  min-height: 50vh;             
                 
            
     
  align-items: center;               
  background-color: #f3f4f6;         
  padding: 0px;                     
  box-sizing: border-box;            
  font-family: 'Segoe UI', sans-serif; 
}

.images-container {
  display: flex;               
 background-color: #ffffff;     
}

.cars-img{
  width: 40vw;                
  height: 85vh;               
  object-fit: cover;           
  border-radius: 8px;          
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; 
  }

  .login-wrapper {
  height: 90vh;
 
  display: flex;
  width: 100%;
flex-direction: row;
  align-items: center;
 background: #f8f9fc;
  font-family: 'Segoe UI', sans-serif;
 gap: 3vw;
}

.login-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 10vw;
  width: 1;
  height: 5vw;
}

.brand-name {
  font-size: 1vw;
  font-weight: bold;
  color: #1a202c;
  margin-top: 1vh;
  margin-left: 5px;
}


.login-card {
  background: #fff;
  padding: 3% 2%;
  width: 30vw;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-left: 20%;
  
}

.login-card h2 {
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 0vw;
}

.login-card label {
  font-size: 1.2vw;
  font-weight: 600;
  color: #2d3748;
}

.login-card input[type="email"],
.login-card input[type="password"] {
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1vw;
  width: 95%;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  flex: 1;
  padding-right: 40px;
}

.eye-button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1vw;
  color: #333;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
  align-items: center;
}

.login-options a {
  text-decoration: none;
  color: #805ad5;
}

.login-options a:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #a855f7;
  color: white;
  padding: 0.5vw;
  height: 2vw;
  width: 20vw;
  margin-left: 4vw;
  font-size: 1vw;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
 }

.login-btn:hover {
  background-color: #9333ea;
}

.checkbox{
  font-size: 1vw;
}




